<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous"
    >

    <style>body {padding-top: 50px;}</style>

    <title>sample</title>
</head>
<body>
    <div class='container'>
    <table class="table table-striped table table-bordered">
        <thead>
            <tr>
                <th colspan="2">ユーザー数：{{count}}名</th>
            </tr>
        </thead>
        <tbody align="center">
            {% for user in userinfo %}
            <tr>
                <td>{{user.name}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
