<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous"
        >

        <style>body {padding-top: 50px;}</style>

        <nav class="navbar navbar-light bg-light fixed-top">
            <a class='navbar-brand' href=''>推し情報</a>
        </nav>
    </head>

    <body>
        <div class='container'>
            {% block app %}
            {% endblock %}
        </div>
    </body>

    <footer>
        <div class="p-3 mb-2 bg-light text-dark">
            <p>＜非公式＞</p>
        </div>
    </footer>

</html>
