{% extends './base.html' %}
{% block app %}
    <a href="{% url 'showRecords' %}" class='btn btn-outline-primary'>ランキングに戻る</a>
    <table class="table table-striped table table-bordered">
    <caption>{{name}}</caption>
       <thead>
            <tr>
                <th >実施日</th>
                <th >スコア</th>
                <th >レベル</th>
				<th >入力時間</th>
                <th >入力文字数</th>
                <th >ミス入力数</th>
                <th >WPM</th>
                <th >正確率</th>
                <th >苦手キー</th>
            </tr>
        </thead>
        <tbody align="center">
            {% for record in scoretable %}
            <tr>
                <td>{{record.date}}</td>
                <td>{{record.score}}</td>
                <td>{{record.level}}</td>
                <td>{{record.time|time:"m分s秒f"}}</td>
                <td>{{record.count}}</td>
                <td>{{record.miss}}</td>
                <td>{{record.read}}</td>
                <td>{{record.rate}}</td>
                <td>{{record.weakness}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
