{% extends './base.html' %}
{% block app %}
    <table class="table table-striped table table-bordered">
       <thead>
            <tr>
                <th >ユーザー</th>
                <th >スコア</th>
                <th >レベル</th>
            </tr>
        </thead>
        <tbody align="center"> 
            {% for record in scoretable %}
            <tr>
                <td>{{record.rank}}</td>
                <td>{{record.name}}</td>
                <td>{{record.score}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
