{% extends './base.html' %}
{% block app %}
<style>
    .buttons {
        display: flex;
        justify-content: space-evenly;
</style>
<div class="buttons mb-3">
    <a href="{% url 'showHistory' %}" class='btn btn-outline-primary'>成長記録</a>
    <!-- <a href="{% url 'createRecord' %}" class='btn btn-outline-primary'>成績登録</a> -->
</div>
<form action='{% url "showRecords" %}' method='post' class='form'>
    {% csrf_token %}
    <select name="course">
        <option value="0" selected>すべて</option>
        {% for k,v in course.items %}
        <option value="{{k}}">{{v}}</option>
        {% endfor %}
        <?= $course?>
    </select>
    <button type='submit' class='btn btn-outline-primary'>決定</button>
</form>

<table class="table table-striped table table-bordered">
    <thead align="center">
        <tr>
            <th>ユーザーID</th>
            <th>スコア</th>
            <th>日付</th>
            <th>順位</th>
            <!-- <th>名前</th>
    <th>レベル</th>
    <th>スコア</th> -->
        </tr>
    </thead>
    <tbody align="center">
        {% for record in scoretable %}
        <tr{% if record.rookie %} style="background-color: #FF5050" {% endif %}>
            <td>{{record.user_id}}</td>
            <td>{{record.score_max}}</td>
            <td>{{record.date_min}}</td>
            <td>{{record.rank}}位</td>
            <!--<td>{{record.name}}</td>
    <td>{{record.level}}</td>
    <td>{{record.score}}点</td> -->
            </tr>
            {% endfor %}
    </tbody>
</table>
{% endblock %}