{% extends './base.html' %}
{% block app %}
    <a href="{% url 'createRecord' %}" class='btn btn-outline-primary'>成績登録</a>
    <a href="{% url 'showHistory' %}" class='btn btn-outline-primary'>成長記録</a>
    <table class="table table-striped table table-bordered">
       <thead>
            <tr>
                <th >順位</th>
                <th >名前</th>
                <th >スコア</th>
            </tr>
        </thead>
        <tbody align="center"> 
            {% for record in scoretable %}
            <tr>
                <td>{{record.rank}}位</td>
                <td>{{record.name}}</td>
                <td>{{record.score}}点</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
